#searchBox,.tab-pane{
    -fx-background-color: #ffffff;
}

#searchTextField {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.label{
    -fx-text-fill: white;
}
.hyperlink{
    -fx-underline: true;
    -fx-text-fill: white;
}

#palylistdetailBox,
#playlistDetailContent,
#Player,
#playlistBox,
.scroll-pane,
#listLi{
    -fx-background-color: #3d3d3d;
    -fx-background-insets: 0px;
}

#playListDetailTitle{
    -fx-text-fill: white;
}

#mainTabPane .tab-header-area .headers-region .tab:hover:top {
    -fx-background-color: #55a15c;
}

.label{
    -fx-alignment: center;
}

#queueToolBar{
    -fx-background-color: #3d3d3d;
}

#mainWindow,#Player{
    -fx-background-color: #505050;
}


.tab-pane .tab-header-area {
    -fx-padding: 0;
}

.tab-pane:top .tab-header-area .tab-header-background {
    -fx-background-color: #3d3d3d;
}

.tab-pane .tab-content-area,
#headerTabContent,
#headerField,
#headersBox,
.scroll-pane,
.scroll-pane .viewport,
.scroll-pane .scroll-bar:vertical,
.scroll-pane .scroll-bar:horizontal {
    -fx-background-color: #3d3d3d;
    -fx-background-insets: 0px;
}

.scroll-pane {
    -fx-padding: 0px;
}

/* Tab attributes */
.tab {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-pane:top .tab-header-area .headers-region .tab:top {
    -fx-background-color: #3d3d3d;
}

/* Tab titles */
.tab-pane:top .tab-header-area .headers-region .tab:top .tab-container .tab-label .text {
    -fx-fill: white;
}

.tab-pane:top .tab-header-area .headers-region .tab:selected:top  .tab-container .tab-label .text {
    -fx-fill: #000;
}

/* Request options (Headers, Authorization, etc) tab */
#mainTabPane .tab-header-area .headers-region .tab:hover:top {
    -fx-background-color: #55a15c;
}

#mainTabPane .tab-header-area .headers-region .tab:selected:top {
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}

/* Body tab pane */
#bodyTabPane:top .tab-header-area .tab-header-background,
#bodyTabPane:top .tab-header-area .headers-region .tab:top {
    -fx-background-color: #545454;
}

#bodyTabPane .tab-content-area,
#bodyTabPane .scroll-pane .viewport {
    -fx-background-color: #3d3d3d;
}

#bodyTabPane:top .tab-header-area .headers-region .tab:hover:top {
    -fx-background-color: #4e848f;
}

#bodyTabPane:top .tab-header-area .headers-region .tab:selected:top {
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}

.scroll-pane .scroll-bar .thumb {
    -fx-background-color: #808080;
}

.split-pane {
    -fx-background-color: #505050;
    -fx-padding: 0px;
}

.split-pane .split-pane-divider {
    -fx-background-color: #505050;
}

.split-pane:horizontal .split-pane-divider {
    -fx-padding: 0px;
}


#historyScrollPane,
#historyScrollPane .viewport,
#historyScrollPane .scroll-bar:vertical,
#historyScrollPane .scroll-bar:horizontal {
    -fx-background-color: #404040;
}

#historyPane, #historyTab {
    -fx-background-color: #404040;
}

#recommendlistSource{
    -fx-background-color: #3d3d3d;
}

#searchBox{
    -fx-background-color: #303030;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
}

#searchFailedLayer {
    -fx-background-color: #822f2f;
}

#historySearchFieldBox {
    -fx-background-color: #303030;
}

#historyTextField {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

/* History item */
#historyItemBox {
    -fx-background-color: #353535;
}

#historyItemBox:hover {
    -fx-background-color: #282828;
}

#rawInputArea {
    -fx-font-size: 15px;
}

/* Response Visualizer */
#responseTabPane:bottom .tab-header-area .tab-header-background,
#responseTabPane:bottom .tab-header-area .headers-region .tab:bottom {
    -fx-background-color: #282828;
}

#responseTabPane:bottom .tab-header-area .headers-region .tab:bottom .tab-container .tab-label .text {
    -fx-fill: white;
}

#responseTabPane:bottom .tab-header-area .headers-region .tab:hover:bottom {
    -fx-background-color: purple;
}

#responseTabPane:bottom .tab-header-area .headers-region .tab:selected:bottom {
    -fx-background-color: #fff;
    -fx-text-fill: black;
}

#responseTabPane .tab-content-area,
#responseTabPane .scroll-pane .viewport {
    -fx-background-color: #2a2a2a;
}

.nonRootTitledPane {
    -fx-padding: 3px 0px;
}

.titled-pane .title {
    -fx-font-family: "Liberation Mono", monospace;
    -fx-background-color: #404040;
}

.titled-pane .content {
    -fx-background-color: #282828;
    -fx-border-width: 0px;
}

.titled-pane .content {
    -fx-font-family: "Liberation Mono", monospace;
    -fx-padding: 3px 0px;
}

.visualizerKeyLabel {
    -fx-font-size: 18px;
    -fx-text-fill: #bababa;
    -fx-text-alignment: left;
}

.visualizerValueLabel {
    -fx-font-size: 18px;
    -fx-text-fill: #959595;
    -fx-text-alignment: left;
}

.titled-pane .title .text,
.titled-pane .title .arrow-button .arrow {
    -fx-background-color: #dadada;
    -fx-fill: #dadada;
}

/* SnackBar */
.jfx-snackbar-content {
    -fx-background-color: black;
}

.jfx-snackbar-toast {
    -fx-text-fill: white;
    -fx-alignment: center;
}

#searchSourceTableHeader .tab-header-area,#recommendTabHeader .tab-header-area{
    -fx-padding: 5 0 0 340;
}
#windowFrame{
    -fx-background-color: #303030;
}

/*slider .track {*/
/*-fx-pref-height:30;*/
/*}*/
/*.slider .thumb {*/
/*-fx-pref-height: 20;*/
/*-fx-pref-width: 20;*/
/*}*/