#window-title-bar{
    -fx-background-color: #303030;
}

#main-tab-pane .tab-header-area .headers-region .tab:hover:top {
    -fx-background-color: #55a15c;
}

.tab-pane .tab-header-area {
    -fx-padding: 0;
}

.tab-pane:top .tab-header-area .tab-header-background {
    -fx-background-color: #3d3d3d;
}


.tab-pane:top .tab-content-area {
    -fx-background-color: #3d3d3d;
    -fx-background-insets: 0px;
}

.table-column {
    -fx-alignment: CENTER;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.tab {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#main-tab-pane .tab-header-area .headers-region .tab:selected:top {
    -fx-background-color: #fff;
}

#main-tab-pane .tab-header-area .headers-region .tab:top {
    -fx-background-color: #3d3d3d;

}
.tab-pane:top .tab-header-area .headers-region .tab:selected:top .tab-container .tab-label .text {
    -fx-fill: #000;
    -fx-font-size: 12;

}
.tab-pane:top .tab-header-area .headers-region .tab:top .tab-container .tab-label .text {
    -fx-fill: #fff;
    -fx-font-size: 12;
}
#player-box{
    -fx-background-color: #3d3d3d;
}
#player-pane{
    -fx-background-color: #303030;
}

.label .text{
    -fx-fill: #fff;
    -fx-font-size: 14;
}

.table-view{
    -fx-background-color: #3d3d3d;

}
.list-view{
    -fx-background-color: #3d3d3d;
}
.list-cell{
    -fx-background-color: #3d3d3d;
}
.add-2-mylist .list-cell:odd{
    -fx-background-color: #303030;
}

.list-cell .text{
    -fx-fill: #fff;
    -fx-cursor: HAND;
    -fx-font-size: 20;
}

.add-2-mylist .list-cell:selected{
    -fx-background-insets: 0;
    -fx-background-radius: 1;
    -fx-background-color: #fff;
}

.add-2-mylist .list-cell:selected .text{
    -fx-fill:#303030;
}

.list-cell:selected .text{
    -fx-fill:#3366ff;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #3d3d3d;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #fff;

}

.table-view .column-header {
    -fx-background-color: transparent;
}


.table-view .table-cell .text{
    -fx-fill: #fff;
    -fx-cursor: HAND;
    -fx-font-size: 14;
}
.table-view .table-cell:hover .text{
    -fx-underline: true;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #303030;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #3d3d3d;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-insets: 0;
    -fx-background-radius: 1;
    -fx-background-color: #fff;
}
.table-row-cell:selected > .table-column> .text{
    -fx-fill: #000;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.table-view .filler {
    -fx-background-color: #3d3d3d;
}


.table-view .table-row-cell {
    -fx-background-insets: 0;
}
.table-row-cell .table-cell {
    -fx-border-width: 0px;
}

#popup-header-container{
    -fx-background-color: #303030;
    -fx-border-width:0;

}


.btn-grey{
    -fx-font-size: 12px;
    -fx-background-color: #3d3d3d;
    -fx-text-fill: #fff;
}

.svg-btn{
    -fx-cursor: HAND;
    -fx-background-color: #fff;
}
.button{
    -fx-cursor: HAND;
}

.icon-btn{
    -fx-background-color: transparent;
}

.radio-button{
    -fx-text-fill: #fff;
    -fx-padding: 15 0 20 0;
    -fx-border-insets: 10;
    -fx-background-insets: 0;
}

.volume-slider > .track {
    -fx-text-box-border: #00CC99;
    -fx-control-inner-background: transparent;
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 0.20em;
}

.pane-dark{
    -fx-background-color: #3d3d3d;
}


.pane-deep-dark{
    -fx-background-color: #303030;
}

.scroll-bar:vertical {
    -fx-pref-width: 16.5;
    -fx-padding: 3;
    -fx-background-color: #3d3d3d;
}
.scroll-bar:horizontal {
    -fx-pref-height: 16.5;
    -fx-padding: 3;
    -fx-background-color: #3d3d3d;
}
.playlist-name-lable{
    -fx-wrap-text: true;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-pref-width: 224;
}
.playlist-label{
    -fx-wrap-text: true;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-text-fill: #fff;
    -fx-pref-width: 140;
    -fx-cursor: HAND;
}

.detail-link-lable{
    -fx-wrap-text: true;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-pref-width: 224;
}
.detail-link-lable:hover .text{
    -fx-font-size: 20;
    -fx-underline: true;

}
.detail-link-lable .text{
    -fx-font-size: 20;
    -fx-cursor: HAND;
}

.detail-plain-lable .text{
    -fx-font-size: 20;
}

.playlist-name-lable .text{
    -fx-font-size: 22;
}

.normal-lable .text{
    -fx-font-size: 18;
}

.search-text-field{
    -fx-pref-width: 500;
    -fx-font-size: 18;
    -fx-padding: 8 0 8 3;
    -fx-border-radius: 25;

}
.transparent-btn{
    -fx-background-color: transparent;
    -fx-text-fill: #fff;
}

.transparent-btn:hover{
    -fx-background-color: #fff;
    -fx-text-fill: #303030;
}

.hover-label:hover .text{
    -fx-underline: true;
}
.hover-label{
    -fx-cursor: HAND;
}

.web-view{
    -fx-background-color: #f00;
}